{% extends 'base.html.twig' %}

{% block title %}NG CGV{% endblock %}

{% block body %}
 <Main class="container">    <!-- ou sans container -->

        <h1 class="col-md-8 mx-auto text-center">Nos Conditions Générales de Ventes</h1>

        <section class="row">

            <div>
                <h2>1. Allergies</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Architecto corrupti asperiores consequatur porro quo natus nobis nam tempora laborum ad
                    alias assumenda quos sunt corporis sint quasi beatae, cum ipsa?
                    </p>
            </div>
            <div>
                <h2>2. ''''</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Architecto corrupti asperiores consequatur porro quo natus nobis nam tempora laborum ad
                        alias assumenda quos sunt corporis sint quasi beatae, cum ipsa?
                    </p>
            </div>
            <div>
                <h2>3. ''''</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Architecto corrupti asperiores consequatur porro quo natus nobis nam tempora laborum ad
                    alias assumenda quos sunt corporis sint quasi beatae, cum ipsa?
                </p>
            </div>
            <div>
                <h2>4. ''''</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Architecto corrupti asperiores consequatur porro quo natus nobis nam tempora laborum ad
                    alias assumenda quos sunt corporis sint quasi beatae, cum ipsa?
                </p>
            </div>
            <div>
                <h2>5. ''''</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Architecto corrupti asperiores consequatur porro quo natus nobis nam tempora laborum ad
                    alias assumenda quos sunt corporis sint quasi beatae, cum ipsa?
                </p>
            </div>

        </section>


    </Main>{% endblock %}
