<form method="post" action="{{ path('categorie_selection') }}" class="m-0 p-0 form-inline mb-3">

    <div class="form-group">
        <input type="hidden" name="" value="">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="massage" value="massage" name="1">
                <label class="form-check-label" for="massage">massage</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="beaute" value="beaute" name="2">
                <label class="form-check-label" for="beaute">beaute</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="hammam" value="hammam" name="3">
                <label class="form-check-label" for="hammam">hammam</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="arganBio" value="arganBio" name="4">
                <label class="form-check-label" for="arganBio">arganBio</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="huilsVegetal" value="huilsVegetal" name="5">
                <label class="form-check-label" for="huilsVegetal">huilsVegetal</label>
            </div>
        <button class="btn btn-success">Selectionner</button>
    </div>
</form> 