{% extends 'base.html.twig' %}

{% block title %}NG Qui Sommes Nous{% endblock %}

{% block body %}
 <main>
   
    <div class="col-md-9 mx-auto my-5">
        <img src="{{asset('images/quisommesnous.png')}}" alt="">
    </div>
    
 </main>
{% endblock %}
