{% extends 'base.html.twig' %}

{% block h1 %}Selection{% endblock %}



{% block body %}
{% include "home/form.html.twig" %}

{% for categorie in categories %}
    {% for key, produits in categorie %}
        {% if key is same as("massage") %}
        <h3>Massage</h3>

        {% elseif key is same as("beaute") %}
        <h3>Beauté</h3>

        {% elseif key is same as("hammam") %}
        <h3>Hammam</h3>

        {% elseif key is same as("arganBio") %}
        <h3>Argan BIO</h3>

        {% elseif key is same as("huilesVegetal") %}
        <h3>Huiles Vegetal</h3>

        {% endif %}
        
        <div class="row">
            <div class="card-columns"> 
                {% for produit in produits %}
                    {% include "produit/card.html.twig" %}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endfor %}

{% endblock %}


