{% extends 'base.html.twig' %}

{% block h1 %}Selection{% endblock %}



{% block body %}
{% include "home/form.html.twig" %}

{% for categorie in categories %}
    {% for key, produits in categorie %}
    <section>
        <h3>{{ key }}</h3>
        <div class="row d-flex flex-wrap mx-auto justify-content-between text-center">
            {%  for produit in produit %}
                {% include "produit/card.html.twig" %}
            {% endfor %}            
        </div>
    </section>
    {% endfor %}
{% endfor %}

{% endblock %}


