{% extends "base.html.twig" %}


  {% block h1 %}Ajouter un produit{% endblock %}

{% block body  %}

<h1 class="text-center"> Ajouter un produit </h1>
   
<form method="POST" class="col-md-4 mx-auto">
    <div class="form-row">

        <div class="form-group col-md-3">
            <label for="image">Référence</label>
            <input type="text" class="form-control" id="image" name="image" value="">
        </div>

        <div class="form-group col-md-6">
            <label for="reference">Référence</label>
            <input type="text" class="form-control" id="reference" name="reference" value="">
        </div>

        <div class="form-group col-md-6">
            <label for="categorie">Catégorie</label>
            <input type="text" class="form-control" id="categorie" name="categorie" value="">
        </div>

    </div>

    <div class="form-row">

        <div class="form-group col-md-6">
            <label for="titre">Titre</label>
            <input type="text" class="form-control" id="titre" name="titre" value=""> 
        </div>

        <div class="form-group col-md-6">
            <label for="description">Description</label>
             <textarea  name="description"></textarea>
            
        </div>

    </div>

    <div class="form-row">
        
  
        <div class="form-group col-md-6">
            <label for="volume">Volume</label>
            <input type="text" class="form-control" id="volume" name="volume" value="">
        </div>

    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="prix">Prix</label>
            <input type="text" class="form-control" id="prix" name="prix" value="">
        </div>
        <div class="form-group col-md-6">
            <label for="stock">Stock</label>
            <input type="text" class="form-control" id="stock" name="stock" value="">
        </div>

        <div class="form-group col-md-6">
            <label for="certificat">Certificat</label>
            <input type="text" class="form-control" id="certificat" name="certificat" value="">
        </div>
    </div>
    
    <button type="submit" class="btn btn-dark mb-4"> Ajouter </button>
</form>

{% endblock %}