{% extends 'base.html.twig' %}

{% block h1 %}Produits{% endblock %}



{% block body %}


<div class="row">

    <h4 class="my-4 text-center">Produits par catégorie</h4>
    <div class="list-group">  
        <a href="{{ path("categorie")}}" class="list-group-item text-center text-dark"></a>
    </div>
</div>

<div class="card-columns">

    {%  for produit in produit %}
        {% include "produit/card.html.twig" %}
    {% endfor %}

</div> 

{% endblock %}

