{% extends 'base.html.twig' %}

{% block h1 %}{{ h1 }}{% endblock %}
{% block body %}

    {# <pre>
        {{ dump(produits) }}
    </pre>  #}
    <div class="row">
        <div class="row d-flex flex-wrap mx-auto justify-content-between text-center">
               
            {% for produit in produits %}
                {% include "produit/card.html.twig" %}
            {% endfor %}

        </div>
    </div>

{% endblock %}